<!DOCTYPE html>
<html lang = "en">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<style>
			body {
				font-family: 'Titillium Web';
				text-align: center;
				color: #0a304e;
			}
			.element{
				width: 500px
				margin 0 auto;
			}
		</style>
	</head>
	<title>WhenIsBest: Forgot?</title>

	<body>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="/" title="WhenIsBest Home">
			<img src="web_logo.png" alt="WhenIsBest Logo" height = "105" width = "592">
		</a>
		<br>
		<br>
		<h2>Forgot Your Password?</h2>
		Not to worry! As someone once said:
		<br>
		<br>
		"Anyone can make a mistake and run.
		<br>
		It takes a special kind of person to make a mistake,
		<br>
		admit to it and face the pain and trouble that comes with making amends.
		<br>
		<br>
		Hang on to those people.
		<br>
		They might hurt you, but they'll never make you heal alone."
		<br>
		<br>
		- Quote from a photo on www.iampoopsie.com, taken off a Pinterest board.

		<div class="g-reCAPTCHA" data-sitekey="6LfFB8QUAAAAAC0Nz3ETXRcddvC38-oCX53aG8QI"></div>
		<br>

		<form>
			Insert your e-mail below and click Submit.<br>
			We'll send you an email with a link to reset your password.
			<br>
			<input type="email" name="Username" maxlength = "320"><br>
			<br>
			<input type="submit" value="Submit">
		</form>

		<br>
		<a href="/login" title="WhenIsBest: Login Page">Return Back to User Login</a>
		<br>
		<a href="/scheduler-login" title="WhenIsBest: Scheduler Login Page">Return Back to Event Scheduler Login</a>
	</body>
</html>
