<!DOCTYPE html>
<html lang = "en">
<head>
<link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
<style>
	body {
	font-family: 'Titillium Web';
	text-align: center;
	color: #0a304e;
	}

	.element{
	width: 500px
	margin 0 auto;
	}
</style>
<title>WhenIsBest: Login</title>

<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<a href="/" title="WhenIsBest Home">
		<img src="../static/web_logo.png" alt="WhenIsBest Logo" height = "105" width = "592">
	</a>
	<br>
	<br>
	Login |
	<a href="/scheduler-login" title="WhenIsBest: Scheduler Login Page">Schedule an Event</a> |
	<a href="/create-acct" title="WhenIsBest: Create Account">Create an Account</a>
	<br>
	<br>
	Welcome back, User!
	<br>
	<br>
	<div class = "element">
		<form>
			Email:
			<br>
			<input type="email" name="Username" maxlength = "320"><br>

			Password:
			<br>
			<input type="password" name="Password">
			<br>
			<br>
			<input type="submit" value="Submit">
			<button onclick="location.href='/forgot-password'" type="button">Forgot Password?</button>
		</form>
	</div>
</body>
</html>
