<!DOCTYPE html>
<html lang = "en">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<style>
			body {
				font-family: 'Titillium Web';
				text-align: center;
				color: #0a304e;
			}
			.element{
				width: 500px
				margin 0 auto;
			}
			.center {
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		</style>
	</head>
	<title>WhenIsBest: Reset</title>

	<body>
		<div class = "center">
			<a href="/" title="WhenIsBest Home">
				<img src="../static/web_logo.png" alt="WhenIsBest Logo" height = "105" width = "592">
			</a>
			<br>
			<br>
			<form action="/logmein" method ="post">
				Email:
				<br>
				<input type = "email" id = "email">
				<br>
				Password:
				<br>
				<input type="password" id ="new-password">
				<br>
				Retype Password:
				<br>
				<input type="password" id="verify-new-password">
				<br>
			</form>
			<div id="info"></div>
			<br>
			<button id="change-button">Change Password</button>
			<script>
				var info = document.getElementById('info');
				var email = document.getElementById('email');
				var newPass = document.getElementById('new-password');
				var verifyNewPass = document.getElementById('verify-new-password');
				var changeButton = document.getElementById('change-button');
				changeButton.addEventListener('click', function() {
					if (email.value == null || email.value == '') {
						info.innerHTML = 'Please specify your email address.';
					} 
					else if (newPass.value == null || newPass.value == '') {
						info.innerHTML = 'Please specify a new password.';
					} 
					else if (verifyNewPass.value == null || verifyNewPass.value == '') {
						info.innerHTML = 'Please confirm your new password.';
					} 
					else if (newPass.value != verifyNewPass.value) {
						info.innerHTML = 'The new passwords are <b>different</b>, please check.';
					} 
					else {
						info.innerHTML = "";
					}
				});
			</script>
			<br>
			<a href="/login" title="WhenIsBest: Login Page">Return Back to User Login</a>
			<br>
			<a href="/scheduler-login" title="WhenIsBest: Scheduler Login Page">Return Back to Event Scheduler Login</a>
		</body>
	</div>
</html>
